###> symfony/framework-bundle ###
/www/.env.local
/www/.env.local.php
/www/.env.*.local
/www/config/secrets/prod/prod.decrypt.private.php
/www/config/*.svg
/www/public/bundles/
/www/var/
/www/vendor/
/data/
/backup/
###< symfony/framework-bundle ###
###> OSHANS configuration ###
/www/.env.local.dist
/www/config/parameters.yaml
/www/config/parameters_*.yaml
###< OSHANS configuration ###
/nbproject/

###> symfony/phpunit-bridge ###
/www/.phpunit.result.cache
/www/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpstan/phpstan ###
/www/phpstan.neon
###< phpstan/phpstan ###

###> symfony/asset-mapper ###
/www/public/assets/
/www/assets/vendor/
###< symfony/asset-mapper ###
