
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> OSHANS configuration ###
/.env.local.dist
/config/parameters.yaml
/config/parameters_*.yaml
###< OSHANS configuration ###
/nbproject/

###> YARN ###
/.yarn
/.yarnrc
###< YARN ###
