# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    authenticated_ips:
        192.168.1.3: this.isme@mymailserver.org # the user's expected IP and it's email to be authenticated with. BE CAREFUL WITH THIS!
    connectors:
        threema:
            id: '*XYZ1234'
            secret: 'mysecret'
            alarm:
                - 'my-alarm@somewhere.com'
        smartfox:
            ip: 192.168.1.140
            version: pro # optional parameter. Only needs to be set for the SmartFox PRO. If not set, the REG 9TE is assumed.
            alternative: # one or several Wifi switches (mystrom or shelly), through which a balcony-PV system is connected
                -
                    type: mystrom
                    ip: 192.168.1.141
                -
                    type: shelly
                    ip: 192.168.1.142
                    port: 0
            storage:
                -
                    name: Nelinor 7kWh
                    type: nelinor
                    ip: 192.168.1.143
        pcoweb:
            ip: 192.168.178.20
            power: 2900 # relevant electrical power requirement in watts
            min_water_temp: 40 # minimum water temp, which will be respected whenever a min water temp is relevant
            mapping: # allows for remapping of default variables. Refer to PcoWebConnector for details. Key is the variable as stored in our database, value is 0-based key in the returned XML from PCOWeb.
                analog:
                    storTemp: 1
                digital:
                    xyz: 10
                integer:
                    abc: 15
        wem: # connector for WEM Portal (Weishaupt Energy Manager)
            username: me@you.com
            password:  mysecret
            ip: 192.168.22.31
            port: 502
        conexio:
            ip: 192.168.1.100
            username: admin
            password: 1234
            sensors:
                s1:
                    - Collector # name of the sensor
                    - °C # unit
                    - red # color used in charts (optional, if parameter is missing , sensor will not be visible in the chart (but values stored in the DB))
        logocontrol:
            ip: 192.168.1.101
            heatStorageSensor: 'Storage Temp' # This is the name of the sensor which is relevant as storage temperature for heating
            powerSensor: Roof
            collectorSensor: Collector
            sensors:
                2:
                    - Roof
                    - °C
                    - orange
                3:
                    - Collector
                    - °C
                    - yellow
                4:
                    - Storage Temp
                    - °C
                    - darkred
        tacmi: # TA Technische Alternative CMI
            ip: 102.168.0.35
            username: admin
            password: admin
            query: 'jsonnode=12&jsonparam=I,O' # Refer to https://www.ta.co.at/download/datei/17511763-cmi-json-api/
            heatStorageSensor: 'Storage Temp' # upper temp
            lowStorageSensor: 'lower Storage Temp' # lower temp
            powerSensor: Roof
            collectorSensor: Collector
            sensors:
                2: # the 0-based index of the value in the returned json datafile (continuous numbering among different categories as Inputs, Outputs etc.)
                    - Roof
                    - °C
                    - orange
                3:
                    - Collector
                    - °C
                    - yellow
                4:
                    - Storage Temp
                    - °C
                    - darkred
        mobilealerts:
            phoneid: XXXXXXXXXXXX # the phone id is available in the settings of the Android / iOS app. Used for web-retrieval (currently used)
            sensors:
                XXXXXXXXXXXX:
                    -
                        - Inside temperature
                        - °C
                        - red # color used in charts
                        - dashboard # if set to "dashboard", this value will be show in the "homepage" dashboard
                        - <<sensor_meaning>> # valid choices are insidetemp, insidehumidity, firstfloortemp, secondfloortemp, basementtemp, basementhumidity,  contact
                        - <<extended settings>> # optional; valid choice for contact sensors: inverted (inverts the open / close logic)
                    -
                        - 'Relative humidity inside'
                        - '%'
                    -
                        - Outside temperature
                        - °C
                    -
                        - 'Relative humidity outside'
                        - '%'
                    -
                        - 'Window XY'
                        - contact # if set to contact, a warning will be shown if open
        netatmo:
            clientid: abcdefg123
            clientsecret: xyz9876
            deviceid: '00:11:22:33:44:55'
            location: 'inside' #inside, outside, firstfloor, secondfloor
            modules:
                -
                    deviceid: '99:88:77:66:55:44'
                    location: 'outside' # inside, outside, firstfloor, secondfloor
        gardena:
            clientId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx # use the gardena / husqvarna developer site to create your own account (https://developer.husqvarnagroup.cloud)
            username: my.mail@mailer.org
            password: mypassword
            # note: sensors can be used to trigger auto actions. Use the following notation: 'gardena:MySensor:soilTemperature' : '<5' # valid choices are: soilTemperature, soilHumidity
        ecar:
            -
                name: my fancy car
                type: id3 # currently only VW ID3 supported
                capacity: 58 # battery capacity in kWh
                username: <<myVWusername>>
                password: <<myVWpassword>>
        mystrom:
            -
                name: 'My Switch'
                ip: '192.168.55.3'
                #other parameters such as lowRateOn and forceOn identical to edimax
                type: carTimer # type for e-car scenario (currently only supported with mystrom switches)
                priority: 10
                nominalPower: 500 # max. expected power in Watt consumed by the device
                autoIntervals: # several intervals for auto control are possible
                    - [08:00,20:00]
                on: # set a criterion which must be fulfilled for turning the device on (in addition to the power criterion)
                    -
                        'mobilealerts:XXXXXXXXXXXX:4': '>55'
                        'mobilealerts:XXXXXXXXXXXX:1': 'rain>1.5' # for rain sensors, a condition can be set for "more mm rain than during the last 15 minutes"
                lowRateOn:
                    -
                        'mobilealerts:XXXXXXXXXXXX:4': '>68' # valid syntax: '>X'  /  '<X'
                        'outsideTemp': '>20' # valid syntax: '>X'  /  '<X'
                        'openweathermap:currentClouds': '<15' # note: if several conditions are set within one conditions set, all of them must be fulfilled
                    -
                        'openweathermap:currentMain': 'rain' # note: several sets of conditions can be defined. if at least one set is fulfilled, the overall condition is fulfilled
                                                             # note: valid choices for currentMain are: clear, rain, snow, drizzle, thunderstorm (check openweathermap documentation for more choices)
                forceOn:
                    -
                        'mobilealerts:XXXXXXXXXXXX:4': '>72'
                    -
                        'mystrom:192.168.55.6': true # use motion sensors to enable / disable other devices (valid choices are true / false)
                        'alarm': true # if alarm is set to true, this condition is only true while alarm mode is activated
                forceOff:
                    -
                        'openweathermap:dayNight': 'n' # valid choices are 'd' (=day) and 'n' (=night). Refers to sunrise / sunset times for given location
                    -
                        'runTime': 120 # value in minutes after which the condition is true (resetted at midnight)
                minRunTime: 120 # minimal runtime in minutes. If not reached until begin of low energy rate and it is evening (P.M.), the device will be turned on (forceOn)
                                # note the maximum is given by the time between low rate start and midnight
            -
                ip: '192.168.55.6'
                name: 'presence'
                type: 'motion' # valid types are 'relay' (= default), 'motion' (motion sensors may be used for alarms and as a condition) and 'battery' (battery switches will prevent overloading by limiting the max active time)
        shelly:
            -
                name: Storen Schlafzimmer
                ip: 10.12.1.71
                port: 0
                type: roller # other types are "relay" and "door"
                priority: 5 # does make sense only for relay type
                cloudId: D9867364ed # deviceId of the shelly device in the shelly cloud (refer to the settings in the app)
                nominalPower: 100
                minWaitTime: 120 # in minutes
                autoIntervals: # several intervals for auto control are possible
                    - [08:00,20:00]
                forceOpen: # other commands: forceClose, forceOn, forceOff, minRunTime
                    -
                        'mobilealerts:072D1F97F48B:1': '>24'
                        'openweathermap:currentClouds': '<15'
                    -
                        'time': '>8:30' # < and > are supported. 24h time format # if there are multiple time conditions to be fulfilled, use 'time1', 'time2' etc.
                    -
                        smartfox: 90 # indicates the power consumption of the device in W. The command will only be executed, if the current net power is negative by at least the value indicated (i.e. the device will be operated using our own energy)
            -
                name: Medienwiedergabe
                ip: 10.12.1.81
                type: button #note: button type devices MUST be at the end of the list of shelly devices!
                actions: # actions which should be triggered, when the following URLs are invoked: http://myoshans.com/trigger/10.12.1.81/long  // .../short1   etc.
                    long:
                        'Chromecast_Power':
                            'ccId': 0 # id of the chromecast which should be toggled
                    short1:
                        'Chromecast_Play':
                            'ccId': 0
                            'streamId': 0 # id of the stream which should be started
                    short2:
                        'Chromecast_Play':
                            'ccId': 0
                            'streamId': 3
                    short3:
                        'Chromecast_Play':
                            'ccId': 0
                            'streamId': 5
        shellycloud:
            server: https://shelly-3-eu.shelly.cloud
            authkey: 1234345D324e983
        openweathermap:
            api_key: this_is_the_api_key_retrieved_from_openweathermap.org
            lat: 46.9
            lon: 6.7
        chromecast:
            -
                name: Wohnzimmer
                ip: 192.168.2.102
                edimax:
                    - 0
                    - 1
                streams:
                    -
                        name: 'My news channel'
                        url: 'http://mystream.com/news/mp3_128'
                        metadata:
                            title: 'My Favourite News Channel'
                            subtitle: 'All you need to know'
                            image: 'http://mystream.com/news/logo.png'
                    -
                        name: 'My music channel'
                        url: 'http://mystream.com/music/mp3_128'
        command:
            - 
                name: Reboot my PC
                icon: fas fa-desktop
                cmd: /bin/sshpass -p myfancypassword ssh -o StrictHostKeyChecking=accept-new myuser@myserver.com "/home/myuser/dosomething.sh"
    energy_low_rate: # if there is no differentiation in rates, leave all following fields empty
        start: 21  # hour (24h-format) when the lower energy tariff starts
        end: 7     # hour (24h format) when the lower energy tariff ends
        days:      # days where low rate is active around the clock (according to ISO-8601 [date('N')]: 1: monday, 7: sunday)
            - 6,12 # first integer after the comma specifies a special start hour of the low rate for this week day (example: start of low rate at 12AM on saturdays)
            - 7
    min_inside_temp: 20 # minimum inside temperature to be adjusted for 
